body {

background-color: lightyellow;

}
.low-energy {
  color: green;
}

.medium-energy {
  color: orange;
}

.high-energy {
  color: red;
}
/*
.row {
  height: 1200px;
  background-color: lightyellow;
}*/

/*.col-md-3 {*/
  /*background-color: red;*/
  /*height: 200px;
}*/
section {
  text-align: center;
}
